#book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  padding: 20px;
}

.book-card {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background: rgba(186, 184, 184, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
  border: solid black 1.5px;
}

.info-text  {
  text-shadow: none;
  text-align: center;
  margin: 0;

}

.book-title,
.book-author,
.book-pages,
.book-isRead {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(240, 240, 250);
  padding: 10px;
  border-radius: 1rem;
}

.read-it .book-isRead {
  background-color: rgb(218, 246, 176);
}

.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  padding: 2rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
}

.form-group label,
.form-group input {
  display: flex;
}


button {
  background-color: paleturquoise;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
}

.delete-book,
.mark-read,
.form-group button {
  background-color: green;
  padding: 5px 5px;
  color: white;
  margin: 0;
  min-width: 7rem;
  border: solid black 1.5px;
  
}

.actions {
  display: flex;
  justify-content: space-around;
}

.delete-book {
  background-color: rgba(241, 77, 77, 0.954);
}

.del-btn-container {
  display: flex;
  justify-content: space-evenly;


}

.mark-read {
  background-color: rgba(75, 110, 14, 0.954);
}


